$color1: #194cbb;
$color2: #453b9a;
$color3: #722b79;
$colorLight: #9e1a58;
$colorLightColor: #fbf119;
$colorAC: #fa8915;
$colorOutlet: #113df9;
$color8: #33739a;
$color9: #1bb232;
$colorWeMo: #d5aa03;

$iconColor: rgb(51, 51, 51);
$navbarIconBoxColor: white;
