$color1: #194cbb;
$color2: #453b9a;
$color3: #722b79;
$color4: #9e1a58;
$color5: #fbf119;
$color6: #fa8915;
$color7: #113df9;
$color8: #33739a;
$color9: #1bb232;

$iconColor: rgb(51, 51, 51);
$navbarIconBoxColor: white;
