@import "compass";
@import "_color-row";
@import "_navbar";

body {
    background-color: $color1;
}

footer {
   text-align: center;
}

ul {
  list-style-type: none;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

.device-control-button {
    height: 105px;
    i {
        padding-top: .8em;
    }
}

$transitionSpeed: .15s;

.device-controls {
     @include transition-property(all);
     @include transition-duration($transitionSpeed);
     margin: 0;
     padding: 0;
     height: 210;
}
