.color-row {
    height: 15em;
    text-align: center;
    i {
        color: $iconColor;
        padding-top:1em;
    }
}

.color-row-1 {
    background-color: $color1;
}

.color-row-2 {
    background-color: $color2;
}

.color-row-3 {
    background-color: $color3;
}

.color-row-4 {
        background-color: $color4;
}

.color-row-5 {
    background-color: $color5;
}

.color-row-6 {
    background-color: $color6;
}

.color-row-7 {
    background-color: $color7;
}

.color-row-8 {
    background-color: $color8;
}

.color-item {
    height: 5em;
    text-align: center;
}

//For expandable menus
.fa-plus {
}
