<!doctype html>
<html>
  <head>
    {% block head %}
      <title>Hal - {% block title %}{% endblock %}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bower_components/normalize-css/normalize.css') }}">
      <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    {% endblock %}
  </head>
  <body>
    {% block body %}
    {% endblock %}
    {% block js %}
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/jquery/dist/jquery.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/underscore/underscore.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/backbone/backbone.js') }}"></script>
    <script type="application/javascript" src="{{ url_for('static', filename='bower_components/bootstrap/js/transition.js') }}"></script>
    {% endblock %}
   </body>
</html>
