<!doctype html>
<html>
  <head>
    <title>Doorman</title>
  </head>
  <body>
    <h1>Doorman</h1>
    <h3>Door</h3>
    <form>
      <input type="submit" name="door" value="open">
    </form>
    <h3>Lights</h3>
    <form>
      <input type="submit" name="lights" value="on">
      <input type="submit" name="lights" value="off">
      <select name="color" onchange="this.form.submit()">
        <option selected="selected">Color</option>
        <option value="white">White</option>
        <option value="violet">Violet</option>
        <option value="blue">Blue</option>
        <option value="lightblue">Light Blue</option>
        <option value="aqua">Aqua</option>
        <option value="mint">Mint</option>
        <option value="lightgreen">Light Green</option>
        <option value="green">Green</option>
        <option value="lime">Lime</option>
        <option value="yellow">Yellow</option>
        <option value="yelloworange">Yellow Orange</option>
        <option value="orange">Orange</option>
        <option value="red">Red</option>
        <option value="pink">Pink</option>
        <option value="fusia">Fusia</option>
        <option value="lilac">Lilac</option>
        <option value="lavendar">Lavendar</option>
      </select>
    </form>
  </body>
</html>
