{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ super() }}
  <script type="application/javascript" src="{{ url_for('static', filename='js/template.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/action-model.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/door-view.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/color-view.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/lights-view.js') }}"></script>
  <script type="application/javascript" src="{{ url_for('static', filename='js/start.js') }}"></script>
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div id="main">
      <nav class="navbar navbar-translucent navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <a class="do-lights-page">
            <div class="navbar-icon-box">
              <i class="fa fa-3x fa-lightbulb-o navbar-icon"></i>
            </div>
          </a>
        </div>
      </nav>
      <div class="row">
        <a class="do-buzz-door">
          <div class="col-md-12 color-row color-row-1">
              <i class="fa fa-5x fa-building-o"></i>
          </div>
        </a>
      </div>
      <div class="row last-row">
        <a class="do-unlock-door">
          <div class="col-md-6 color-row color-row-4">
            <i class="fa fa-5x fa-unlock-alt"></i>
          </div>
        </a>
        <a class="do-lock-door">
          <div class="col-md-6 color-row color-row-3">
              <i class="fa fa-5x fa-lock"></i>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <a href="https://github.com/Daniel0524/Home_Automation">
        <div class="col-md-12 color-row color-row-2">
          <i class="fa fa-5x fa-github"></i>
        </div>
      </a>
    </div>
  </div>
{% endblock %}

