<!doctype html>
<html>
  <head>
      <title>Doorman</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="../static/web/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../static/web/bower_components/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="../static/web/css/main.css">
  </head>
  <body>
    <div id="main" class="container">
      <div class="row">
        <a class="do-buzz-door"> 
          <div class="col-md-12 color-row color-row-3">
              <i class="fa fa-5x fa-building-o"></i>
          </div>
        </a>
      </div>
      <div class="row">
        <a class="do-unlock-door">
          <div class="col-md-6 color-row color-row-1">
            <i class="fa fa-5x fa-unlock-alt"></i>
          </div>
        </a>
        <a class="do-lock-door">
          <div class="col-md-6 color-row color-row-2">
              <i class="fa fa-5x fa-lock"></i>
          </div>
        </a>
      </div>
      <div class="row">
        <a class="do-lights-page">
          <div class="col-md-12 color-row color-row-4">
              <i class="fa fa-5x fa-lightbulb-o"></i>
          </div>
        </a>
      </div>
    </div>
      <!--Le Javascripts-->
      <script type="application/javascript" src="../static/web/bower_components/jquery/dist/jquery.js"></script>
      <script type="application/javascript" src="../static/web/bower_components/underscore/underscore.js"></script>
      <script type="application/javascript" src="../static/web/bower_components/backbone/backbone.js"></script>
      <script type="application/javascript" src="../static/web/bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script type="application/javascript" src="../static/web/js/template.js"></script>
      <script type="application/javascript" src="../static/web/js/action-model.js"></script>
      <script type="application/javascript" src="../static/web/js/page-view.js"></script>
      <script type="application/javascript" src="../static/web/js/start.js"></script>
  </body>
</html>
