<!doctype html>
<html>
  <head>
      <title>Doorman</title>
      <link rel="stylesheet" type="text/css" href="../web/bower_components/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" type="text/css" href="../web/bower_components/font-awesome/css/font-awesome.css">
      <link rel="stylesheet" type="text/css" href="../web/css/main.css">
  </head>
  <body>
      <div class="row">
          <div class="col-md-12">
              <div class="row">
                  <div class="col-md-6 color-row color-row-1">
                      <i class="fa fa-5x fa-unlock"></i>
                  </div>
                  <div class="col-md-6 color-row color-row-2">
                      <i class="fa fa-5x fa-lock"></i>
                  </div>
                  <div class="row">
                      <div class="col-md-12 color-row color-row-3">
                            <i class="fa fa-5x fa-unlock-alt"></i> 
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!--Le Javascripts-->
      <script type="application/javascript" src="../web/bower_components/jquery/dist/jquery.js"></script>
      <script type="application/javascript" src="../web/bower_components/underscore/underscore.js"></script>
      <script type="application/javascript" src="../web/bower_components/backbone/backbone.js"></script>
      <script type="application/javascript" src="../web/bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script type="application/javascript" src="../web/js/template.js"></script>
  </body>
</html>
