{% extends "base.html" %}
{% block title %}Users{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block js %}
  {{ super() }}
{% endblock %}

{% block body %}
  <div class="container-fluid">
    <div class="main row col-md-12 color-row">
      <form method="post">
        <ul>
          {% for user in users %}
          <li>
            {{ user }}
            <button type="submit" name="deleteuser" value="{{ user }}">Remove</button>
          </li>
          {% endfor %}
        </ul>
        <input type="text" name="adduser" placeholder="New User">
        <input type="submit" value="Add"/>
      </form>
    </div>
  </div>
{% endblock %}

