.color-row {
    height: 15em;
    text-align: center;
    i {
    	color: $iconColor;
    	padding-top:1em;
    }
}

.color-row-1 {
    background-color: $color1;
}

.color-row-2 {
    background-color: $color2;
}

.color-row-3 {
    background-color: $color3;
}

.color-row-4 {
	background-color: $color4;
}
