.color-row {
    height: 20em;
    text-align: center;
    padding: 8em;
}

.color-row-1 {
    background-color: $color1;
}

.color-row-2 {
    background-color: $color2;
}

.color-row-3 {
    background-color: $color3;
}
