<nav class="navbar navbar-translucent navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <a class="do-lights-page">
    <div class="navbar-icon-box">
      <i class="fa fa-3x fa-lightbulb-o navbar-icon"></i>
    </div>
  </a>
</div>
</nav>
<div class="row">
<a class="do-buzz-door"> 
  <div class="col-md-12 color-row color-row-1">
      <i class="fa fa-5x fa-building-o"></i>
  </div>
</a>
</div>
<div class="row">
<a class="do-unlock-door">
  <div class="col-md-6 color-row color-row-2">
    <i class="fa fa-5x fa-unlock-alt"></i>
  </div>
</a>
<a class="do-lock-door">
  <div class="col-md-6 color-row color-row-3">
      <i class="fa fa-5x fa-lock"></i>
  </div>
</a>
</div>