<nav class="navbar navbar-translucent navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <a class="do-door-page">
    <div class="navbar-icon-box">
      <i class="fa fa-2x fa-building-o navbar-icon"></i>
    </div>
  </a>
</div>
</nav>
<div class="row">
<a class="do-lights-on">
  <div class="col-md-6 color-row color-row-5">
    <i class="fa fa-5x fa-sun-o"></i>
  </div>
</a>
<a class="do-lights-off">
  <div class="col-md-6 color-row color-row-6">
      <i class="fa fa-5x fa-star"></i>
  </div>
</a>
</div>
<div class="row">
<a class="do-show-colors">
  <div class="col-md-12 color-row color-row-7">
      <i class="fa fa-5x fa-lightbulb-o"></i>
  </div>
</a>
</div>
<div class="row colors collapse">
</div>  

