<nav class="navbar navbar-translucent navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
  <a class="do-door-page">
    <div class="navbar-icon-box">
      <i class="fa fa-3x fa-building-o navbar-icon"></i>
    </div>
  </a>
</div>
</nav>
<div class="row">
<a>
<div class="col-md-6 color-row color-row-5">
      <div class="row">
          <div class="col-xs-12 device-button do-show-controls">
              <i class="fa fa-5x fa-lightbulb-o"></i>
          </div>
          <div class="hidden device-controls">
              <div class="do-lights-on device-control-button on">
                <i class="fa fa-3x fa-sun-o"></i> 
              </div>
              <div class="do-lights-off device-control-button off">
                <i class="fa fa-3x fa-power-off"></i> 
              </div>
        </div>
    </div>
  </div>
</a>
<a class="do-show-colors">
  <div class="col-md-6 color-row color-row-6">
      <i class="fa fa-5x fa-tint"></i>
  </div>
</a>
<div class="row colors collapse">
</div>
</div>
<div class="row">
<a> 
  <div class="col-md-6 color-row color-row-7">
      <div class="row">
          <div class="col-xs-12 device-button do-show-controls">
              <i class="fa fa-5x fa-leaf"></i>
          </div>
          <div class="hidden device-controls">
              <div class="device-0 do-device-on device-control-button on">
                <i class="fa fa-3x fa-sun-o"></i> 
              </div>
              <div class="device-0 do-device-off device-control-button off">
                <i class="fa fa-3x fa-power-off"></i> 
              </div>
        </div>
    </div>
  </div>
</a>
<a> 
  <div class="col-md-6 color-row color-row-8">
      <div class="row">
          <div class="col-xs-12 device-button do-show-controls">
              <i class="fa fa-5x fa-bolt"></i>
          </div>
          <div class="hidden device-controls">
              <div class="device-1 do-device-on device-control-button on">
                <i class="fa fa-3x fa-sun-o"></i> 
              </div>
              <div class="device-1 do-device-off device-control-button off">
                <i class="fa fa-3x fa-power-off"></i> 
              </div>
        </div>
    </div>
  </div>
</a>
</div>
<div class="row">
<a>
<div class="col-md-12 color-row color-wemo">
      <div class="row">
          <div class="col-xs-12 device-button do-show-controls">
              <i class="fa fa-5x fa-star-o"></i>
          </div>
          <div class="hidden device-controls">
              <div class="do-dan-room-on device-control-button on">
                <i class="fa fa-3x fa-sun-o"></i> 
              </div>
              <div class="do-dan-room-off device-control-button off">
                <i class="fa fa-3x fa-power-off"></i> 
              </div>
        </div>
    </div>
  </div>
</a>
</div>
